@use '../helpers/variables.scss' as *;
@use '../helpers/mixins' as *;

.button {
    display: inline-block;
    background-color: transparent;
    border: 3px solid $green;
    cursor: pointer;
    padding: 12px 30px;
    height: fit-content;
    color: rgb(102, 102, 102);
    width: max-content;
    font-weight: 500;
    position: relative;
    z-index: 1;
    @include fillOnHover($green, black, 700);

    &--text-light {
        color: white;
    }

    &--no-hover  {
        @include fillOnHover(transparent, black, 700);
    }

  
}