$green: rgb(0, 240, 148);
$blue: rgb(56, 77, 75);
$dark-green: rgb(56, 77, 75);
$forest-green: rgb(17 33 33);
$grey: rgb(228, 228, 228);
$transparent-white: rgba(255,255,255,0.8);
$white: white;
$soft-white: rgb(224, 221, 221);