@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
/* general */
* {
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: white;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-weight: 700;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

p, a, cite, button, blockquote, table, address, ul, li, span, label, input, legend,
.p-looking {
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

header, footer {
  background-color: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px clamp(30px, 5%, 50px);
}

/* boutons */
button {
  display: inline-block;
  background-color: transparent;
  border: 3px solid rgb(0, 240, 148);
  cursor: pointer;
  padding: 12px 30px;
  height: fit-content;
  color: grey;
  width: max-content;
  font-weight: 500;
}

.button--text-light {
  color: white;
}

button:hover {
  background-color: rgb(0, 240, 148);
  color: white;
}

button:hover a {
  color: white;
}

/* section */
.section {
  position: relative;
  padding: 45px 0;
}

.section--light-padding {
  padding: 10px 0;
}

.section::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 4px;
  background-color: rgb(0, 240, 148);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section--border-top::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 4px;
  background-color: rgb(0, 240, 148);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section--light-border::after {
  background-color: lightgrey;
}

.section--no-border::after {
  height: 0;
}

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header - right part : nav bar */
.nav__burger-button {
  display: none;
}

.nav__item {
  display: inline-block;
  margin-left: 30px;
}

.nav__link {
  position: relative;
  padding: 8px 1px;
  min-width: max-content;
}

.nav__link::after {
  transition: width 0.2s ease-in-out;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: rgb(0, 240, 148);
}

.nav__link:hover::after,
.nav__link.current::after {
  width: 100%;
}

.nav--mobile-burger {
  display: none;
}

.nav--mobile {
  color: white;
  animation: blend 400ms ease-in-out;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.nav--mobile > .nav__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav__burger-button {
  margin: 10px 0 0 0;
  z-index: 2;
}

/* carousel d'images */
#carousel {
  background: url(../../assets/backgrounds/bg2.jpg);
  background-size: cover;
  position: relative;
  top: 38px;
}

.carousel {
  margin: auto;
  width: 80%;
  height: 450px;
  white-space: nowrap;
  overflow: hidden;
  border: 3px solid white;
}

.carousel__slider {
  width: 300%;
  height: 100%;
  display: inline-block;
  animation: sliding 10s linear infinite forwards;
}

.carousel__img {
  width: 33.3333333333%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 10px;
  border-radius: 15px;
}

.carousel__img--position-bottom {
  object-position: bottom;
}

/* newsletter */
#newsletter {
  background-color: #e4e4e4;
}

.newsletter {
  width: clamp(350px, 45%, 800px);
  margin: auto;
  text-align: center;
}

.newsletter__form {
  display: flex;
  gap: clamp(10px, 5%, 50px);
  align-items: center;
}

.newsletter__input {
  padding: 8px 10px;
  flex: 1;
  border: 1px solid lightgrey;
  width: 100%;
}

.newsletter__label {
  display: none;
}

/* section offres speciales */
#special-offer {
  background-color: rgb(56, 77, 75);
  color: white;
}

.special-offer {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 10%;
}

.special-offer__text {
  flex-grow: 1;
}

/* section presentation */
#introduction {
  background: url(../../assets/backgrounds/bg3reverse.jpg);
  background-size: cover;
  background-position: top right;
}

.introduction {
  width: 100%;
  text-align: center;
}

.introduction__title {
  color: black;
  font-size: 1.8rem;
  width: fit-content;
  margin: auto;
  position: relative;
  z-index: 1;
}

.introduction__title::after {
  content: "";
  width: 120%;
  height: 90%;
  background-color: rgb(0, 240, 148);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.introduction__text {
  width: 60%;
  position: relative;
  z-index: 1;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.introduction__text::after {
  content: "";
  width: 120%;
  height: 120%;
  background-color: rgb(56, 77, 75);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.introduction__cards {
  display: flex;
  gap: 25px;
  margin-top: 30px;
}

.introduction__cards .card {
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  flex: 1 1 0px;
}

.card__img {
  width: clamp(50px, 25%, 65px);
  aspect-ratio: 1;
  background-color: white;
  padding: 2px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid rgb(0, 240, 148);
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  aspect-ratio: 2/1;
  gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__img:nth-child(1) {
  grid-area: 6/1/16/3;
}

.gallery__img:nth-child(2) {
  grid-area: 11/3/17/4;
}

.gallery__img:nth-child(3) {
  grid-area: 1/3/11/6;
}

.gallery__img:nth-child(4) {
  grid-area: 11/4/21/7;
}

.gallery__img:nth-child(5) {
  grid-area: 5/6/11/7;
  object-position: right;
}

.gallery__img:nth-child(6) {
  grid-area: 7/7/17/8;
}

.gallery__ornament {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 240, 148);
}

.gallery__ornament:nth-of-type(1) {
  grid-area: 3/2/6/3;
}

.gallery__ornament:nth-of-type(2) {
  grid-area: 17/7/20/8;
}

.gallery__ornament:nth-of-type(3) {
  grid-area: 17/3/19/4;
}

.gallery__ornament:nth-of-type(4) {
  grid-area: 3/6/5/7;
}

/* section statistiques */
#stats {
  background: url(../../assets//backgrounds/bg2.jpg);
  background-size: cover;
  background-position: bottom right;
  color: rgb(224, 221, 221);
}

.stats {
  width: 100%;
  display: flex;
  gap: 8%;
}

.stats__graph {
  width: 46%;
  height: auto;
}

.stats__infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats__numbers {
  display: flex;
  gap: 15%;
  margin-bottom: 20px;
}

.stats__number {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 800;
}

/* section equipe */
#team {
  background: url(../../assets//backgrounds/bg7.jpg);
  background-color: rgb(56, 77, 75);
  background-size: cover;
  color: rgb(224, 221, 221);
}

.team {
  text-align: center;
}

.team__text {
  width: 50%;
  margin: auto;
}

.team__cards {
  display: flex;
  gap: 24px;
  text-align: initial;
}

.person-card {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  flex: 1 1 0;
  position: relative;
  padding: 20px;
  border-radius: 10px;
}

.person-card::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  background-color: rgb(255, 126, 52);
  top: 0;
  right: -12px;
}

.person-card:last-child::after {
  width: 0px;
}

.person-card__img {
  width: 50%;
  border-radius: 10px;
}

/* section contact / formulaire */
#contact {
  position: relative;
}

.map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.form {
  margin-left: auto;
  background-color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 30px;
  gap: 15px;
  border: 4px solid rgb(0, 240, 148);
}

.form__text {
  margin: 0;
}

.form__label--hidden {
  display: none;
}

.form__name {
  display: flex;
  width: 100%;
  gap: 5%;
}

.form__input-control {
  width: 100%;
  flex: 1 1 0;
}

.form__input {
  width: 100%;
  border: 1px solid black;
}

.form__textarea {
  height: 100px;
}

.form__input--success {
  border-color: green;
}

.form__input--error {
  border-color: red;
}

.form__error-msg {
  color: red;
  font-size: 0.7rem;
  margin-top: 3px;
}

/* navigation de bas de page */
#footer-top {
  background: url(../../assets/backgrounds/bg7.jpg);
  background-size: cover;
  background-position: bottom;
  color: white;
}

.footer-top {
  display: flex;
  flex-direction: column;
}

.footer-top__logo {
  background-color: grey;
  padding: 0 30px;
  height: 100px;
  margin: auto;
}

.footer-nav__list {
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-top: 22px;
  width: clamp(400px, 80%, 750px);
}

/* footer */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__icon {
  height: 25px;
  margin-right: 8px;
}

.footer__item {
  display: flex;
  align-items: center;
}

.footer__item--centered {
  justify-self: center;
}

.footer__link,
.footer__item {
  font-size: 0.75rem;
}

.footer__link {
  margin-right: 12px;
}

@keyframes sliding {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(calc(-33.3333333333% - 3px));
  }
  58% {
    transform: translateX(calc(-33.3333333333% - 3px));
  }
  66% {
    transform: translateX(calc(-66.6666666667% - 7px));
  }
  91% {
    transform: translateX(calc(-66.6666666667% - 7px));
  }
  100% {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 960px) {
  .special-offer {
    flex-direction: column;
    text-align: center;
  }
  .special-offer__btn {
    margin: auto;
  }
}
@media screen and (max-width: 750px) {
  .introduction__cards {
    flex-direction: column;
  }
}
@media screen and (max-width: 570px) {
  .newsletter {
    width: 100%;
  }
  .newsletter__form {
    flex-direction: column;
  }
  .newsletter__input {
    width: 80%;
  }
  .nav--desktop {
    display: none;
  }
  .nav--mobile-burger {
    display: flex;
  }
  .nav__burger-button {
    display: inline-block;
    border: none;
    padding: 0;
  }
  .nav__burger-button:hover {
    background-color: transparent;
  }
  .nav__burger-img {
    width: 25px;
  }
}
@keyframes blend {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */