@use '../helpers/variables.scss' as *;

#newsletter {
    background-color: $grey;
}

.newsletter {
    width: clamp(350px, 45%, 800px);
    margin: auto;
    text-align: center;

    &__form {
        display: flex;
        gap: clamp(10px, 5%, 50px);
        align-items: center;
    }
}

@media screen and (max-width: 570px) {
    .newsletter {
        width: 100%;

        &__form {
            flex-direction: column;
        }
    }
}
