@use '../helpers/variables.scss' as *;

.section {
    position: relative;
    padding: 45px 0;

    /* séparateur de section */
    &::after {
        position: absolute;
        content: "";
        width: 80%;
        height: 4px;
        background-color: $green;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &--light-padding {
        padding: 10px 0;
    }

    &--no-border::after {
        height: 0;
    }
}